<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}">
            <td><img class="img-thumbnail" [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name | uppercase}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price | currency}}</td>
            <td><span class="badge text-bg-warning" *ngIf="beer.stock === 0">SIN STOCK</span></td>
            <td>
                <app-input-integer [(quantity)]="beer.quantity" [max]="beer.stock" (maxReached)="maxReached($event)"
                    *ngIf="beer.stock"></app-input-integer>
                Cantidad: {{beer.quantity}}
            </td>
        </tr>

    </tbody>
</table>